# git directory of repo
dotfiles.git

# data
.local/state
.cache
.pki
.mozilla
repos
downloads
desktop
.config/Code\ -\ OSS/
.vscode-oss
*bash_history
.local/share/Trash
*.log
1Password
*1password*
.gnupg
.config/pulse/cookie
.local/share/recently-used.xbel
.local/share/gvfs-metadata
.local/share/PrismLauncher
.config/pavucontrol.ini

# secrets
.ssh

