# git directory of repo
dotfiles.git

# data
.local/state
.cache
.pki
.mozilla
.vscode-oss
.gnupg

repos
downloads
desktop
1Password

*1password*
*bash_history
*.log

.local/share/Trash
.local/share/recently-used.xbel
.local/share/gvfs-metadata
.local/share/PrismLauncher

.config/Code\ -\ OSS/
.config/pulse/cookie
.config/pavucontrol.ini
.config/dconf/user

# secrets
.ssh
