# vi mode everywhere!
set editing-mode vi
set show-mode-in-prompt on
set vi-ins-mode-string " + "
set vi-cmd-mode-string " : "

C-i: complete

# cycling history searches through history
$if mode=vi
set keymap vi-command
	"\e[A": history-search-backward
	"\e[B": history-search-forward
	j: history-search-forward
	k: history-search-backward
set keymap vi-insert
	"\e[A": history-search-backward
	"\e[B": history-search-forward
$endif

