[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Name=Messenger
Comment=Facebook messenger
Exec=/home/sevbesau/.local/opt/Messenger-linux-x64/Messenger
Icon=/home/sevbesau/.local/opt/Messenger-linux-x64/resources/app/icon.png
